black = #121212
black-medium = #1f1b24
black-light = #20172b
back-hover = linear-gradient(0deg, rgb(186, 84, 245), rgb(225, 78, 202))
gris = #333
gris-light = #333
text-strong = rgb(255,255,255)
text-main = rgb(220,220,220)
text-secondary = rgba(255, 255, 255, .6)
text-disabled = rgba(255, 255, 255, .3)
icons = white
wallpaper = rgb(36, 54, 64)

/*
  # Inicio
*/
body
html[dir] .iFKgT
.app-wrapper-web
#startup
  background: black-medium

/**
  # Head
*/
html[dir] ._3Jvyf
  background: black-medium

/*
  # Search
*/
html[dir] ._2HS9r
  background: black-medium
/*
  # Chats
*/
html[dir] ._1RYPC
  background: black-medium
/*
  ## Chat
*/
html[dir] ._2UaNq
  background: black-medium
  &._3mMX1
    background: black-medium
    & .xD91K
      color: text-secondary
  &:hover
  &._1f1zm
    background: black
  &._2ko65 .xD91K
    color: text-secondary
/*
  ### Contacto
*/
._2ko65 ._3H4MS
._3H4MS
  color: text-main
/*
  ### Fecha
*/
._2ko65 ._0LqQ
._0LqQ
  color: text-secondary
/*
  ### Mensaje
*/
.xD91K
  color: text-secondary
/*
  # Head Conversacion
*/
html[dir] ._3fs0K
  background: black
/*
  ## Nombre Contacto
*/
._19vo_
  color: text-main
/*
  ## Status/miembros dle grupo
*/
.i1XSV._3Q3ui
  color: text-secondary
/*
  ## Conversion wallppaper
*/
._1_q7u
  background: black-medium
/*
  ## Detalle Contacto
*/
html[dir] .kiodY
  background: black
.kiodY .kyJvR
  color: text-main
/*
  ## Detalle Contacto contenido
*/
html[dir]
  .ZP8RM
  .ZP8RM._19OGD
  ._1Kstu
    background black-light
  ._2LSbZ
  ._26JG5
  ._1KDYa
    background: black-medium
._1drsQ
._6xQdq
._3u328
  color: text-main
/*
  ## Multimedia contacto
*/
html[dir] .Y9547
  background: black-medium
html[dir] ._3jHKU
html[dir] ._27U_m
  background: black
  &:hover
    background gris-light
/*
  ## Mensajes
*/
html[dir]
  ._13mgZ
  .message-in
  .message-out
    ._2Wx_5
    ._2Hp95 ._3qAvH
      background: black-light
      color: text-main
      border-bottom: 1px solid text-disabled
      .tail-container
        background: black-light
    .tail-container
      background: black-light
    ._12pGw strong
      color: text-strong
/*
  ## Mensajes fecha
    Enviado con reply
*/
._3MYI2
._2HHbr
  color: text-secondary
/*
  ## Opciones mensajes
      ## Menu opciones
*/
html[dir=ltr] ._15CAo
  &._3EQsG
  &._2Nkc4
    background: linear-gradient(90deg, hsla(0,0%,100%,0) 0, black 50%)
html[dir] ._2hHc6
  background: black-light
  .Sl-9e
    color: text-main
html[dir] ._3BqnP._3VXiW
    background: black
/*
  ## Mensajes renvio
*/
._8fE-g
  color: text-disabled
/*
  ## Envio Mensaje
*/
html[dir]
  ._1hhkM
  ._2i7Ej
    background: black
  ._1ebw2
  .OWYLS
    background: black-light
/*
  ### Input Mensaje
*/
html[dir] ._13mgZ
  background black-medium
  color: text-main
/*
  ### Input Mensaje
*/
html[dir=ltr] ._1F9Ap
  color: text-secondary !important
/*
  ### Emojis
    # Head
    # Contenido Emoji
    # Contenido gif
    # Contenido sticker
    # No Stickers
    # Search
      # input
*/
html[dir] ._2avTY
  background: black
html[dir]
  .QChXd
  ._2Qm0c
  ._20KNO
  .RxbUw
  ._3LFRS
    background: black-medium
html[dir] ._2hMsh
  background: black-light
  html[dir=ltr] ._2GXNm
    color: text-main

/*
  ## settings
*/
html[dir]
  ._26JG5:hover
    background: black
    &+._26JG5:before
      background: black

/*
  Icons
*/
html[dir] ._3KRbU
  background: black
// .FTBzM._17BiH path
//   fill #2cb4ec
// [role=button]
._1tyVr
._3j8Pd
.hjJpn
._3VIru
.qfKkX
._2-qoA
  path
    fill text-main
