*
    margin  0
    padding 0

body, html
    cursor  default
    font-family 'Trebuchet MS', sans-serif
    height  100%
    overflow    hidden
    width   100%

#title
    display block
    font-size   13px

#body
    display block
    font-size   13px
    margin-bottom   9px
    margin-top  7px
    overflow    hidden
    text-overflow   ellipsis
    white-space nowrap
    width   100%

#text
    background    #333333
    color white
    left  80px
    min-height 80px
    padding   10px
    position  fixed
    top   0px
    width 200px

#icon
    background-color    #4c4c4c
    background-position center
    background-repeat   no-repeat
    background-size cover
    height  100%
    left    0px
    position    fixed
    top 0px
    width   80px
